<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- for production please use /var/log/xyz directory instead of /tmp/log/xyz -->
    <!-- <property name="LOG_FILE" value="/tmp/log/woshiadai/server.log"/>
    <property name="REQUEST_LOG_FILE" value="/tmp/log/woshiadai/request.log"/> -->
    <property name="LOG_DIR" value="./log" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <property name="LOG_FILE" value="${LOG_DIR}/server.log"/>
    <property name="DEBUG_FILE" value="${LOG_DIR}/debug.log"/>

    <!-- console output -->
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- server log file output -->
    <appender name="SERVER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <maxHistory>24</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="SERVER_LOG_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SERVER_LOG" />
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <maxFlushTime>5000</maxFlushTime>
        <neverBlock>true</neverBlock>
    </appender>

    <!-- request log output -->
    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEBUG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DEBUG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>900MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="DEBUG_LOG_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DEBUG_LOG" />
        <discardingThreshold>0</discardingThreshold>
        <queueSize>5000</queueSize>
        <neverBlock>true</neverBlock>
    </appender>

    <!-- We tried -->
    <!-- <logger level="DEBUG" name="game" additivity="false">
        <appender-ref ref="DEBUG_LOG_ASYNC"/>
    </logger> -->

    <logger level="INFO" name="BLManagment" additivity="false">
        <appender-ref ref="DEBUG_LOG_ASYNC"/>
    </logger>

    <logger level="INFO" name="game" additivity="false">
        <appender-ref ref="DEBUG_LOG_ASYNC"/>
    </logger>

    <logger level="INFO" name="server" additivity="false">
        <appender-ref ref="DEBUG_LOG_ASYNC"/>
    </logger>

    <logger level="DEBUG" name="server" additivity="false">
        <appender-ref ref="DEBUG_LOG_ASYNC"/>
    </logger>

    <!-- <logger level="DEBUG" name="io.vertx.rabbitmq" additivity="false">
        <appender-ref ref="DEBUG_LOG_ASYNC"/>
    </logger> -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>