CHAT_HOST=localhost 
CHAT_PORT=3004 

MIDDLEWARE_HOST=localhost 
MIDDLEWARE_PORT=3003 

BUSINESS_LOGIC_HOST=localhost
BUSINESS_LOGIC_PORT=3000

USER_HOST=localhost 
USER_PORT=3001 

FRONTEND_HOST=localhost #
FRONTEND_PORT=4200 #


MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_HOST=127.0.0.1
MONGO_PORT=27012
MONGO_DATABASE=MaraffaStatisticsDB-test